.capsuleTab {
    position: relative;
    .tab {
        padding: 8px 15px;
        background-color: transparent;
        z-index: 1;
    }

    .highlight {
        position: absolute;
        left: 0;
        transition: all ease 0.3s;
        z-index: 0;
    }
}


